$appointment-color: #68ca68;

td.appointment {
    background-color: $appointment-color;
}

table {
    width: 100%;
}

td:nth-child(even) {
    width: 70%;
}

td:first-child {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

.add {
    text-align: center;
}