$appointment-color: #68ca68;

td.appointment {
    background-color: $appointment-color;
    border: solid 1px darken($appointment-color, 20)
}

table {
    width: 100%;
}

td:nth-child(even) {
    width: 80%;
}

td:first-child {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

.add {
    text-align: center;
}

thead td {
    border-bottom: solid 1px #333333;
}

caption {
    font-size: 1.5rem;
}